body {
  margin: 0;
  font-family: 'Poppins', 'Roboto', 'Lora', sans-serif;  /* Ensuring consistency */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Great Vibes';
  src: url('./assets/fonts/great-vibes.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Allura';
  src: url('./assets/fonts/allura.regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}